* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    height: 100%;
    /* full height of the content box */
    min-height: 40em;
    /* Will be AT LEAST 20em tall */
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.tab-size {
    max-width: 95%;
}

.team-name {
    min-width: 200px;
    flex: 2;
    text-align: center;
    align-items: center;
}

.team-img {
    min-width: 30px;
    width: 30px;
    max-width: 30px;
    margin-right: 10px;
}

.match:nth-child(odd) {
    border-right: 1px outset#dedede;
}

.match {
    cursor: pointer;
    border-bottom: 0.5px solid#dedede;
    align-items: center;
}

.img-home {
    max-width: 25px;
}

.outcome {
    max-width: 25px;
    margin-left: auto;
}